@import url(https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
 }
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
 }

 /* Navigation bar styles */
 .navbar {
  background-color: rgba(0,0,0);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ddd;
}

/* Scroll Top Button */
.scroll-top-btn {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  border: 3px solid #8c8c8c;
  border-radius: 100%;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);  
}
.scroll-top-btn:hover {
  background-color: rgb(0, 146, 182);
  color: white;
  transform: scale(1.08);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.67);}