@import url(https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
 }
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
 }

 /* Navigation bar styles */
 .navbar{
  transition: transform 0.5s ease;
 }
.navbar {
  background-color: rgba(0,0,0);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.67);
  padding: 20px;
  color: #fff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}
.navbar-brand img{
  width:20px
}

.navbar .menu {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.navbar-link:hover {
  color: #09a5dd;
}
.navbar-fixed{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

/* Scroll Top Button */
.scroll-top-btn {
  position: fixed;
  z-index: 10;
  bottom: 40px;
  right: 20px;
  border: 3px solid #8c8c8c;
  border-radius: 100%;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);  
}
.scroll-top-btn:hover {
  background-color: rgb(0, 146, 182);
  color: white;
  transform: scale(1.08);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.67);}

/* Footer */
#globalFooter{
  background-color: #222831;
  padding: 20px;
  padding: 0;
  color: #fff;
}
#globalFooter .footer-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  grid-gap: 1rem;
  padding: 5rem;
}
#globalFooter .footer-details{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 0;
}
#globalFooter .footer-links{
  margin-left: 5rem;
}
#globalFooter .footer-links a{
  color: #ffffff;
  text-decoration: none;
}
#globalFooter .footer-links a:hover{
  filter: drop-shadow(0 0 0.5rem #ffffff);
}
#globalFooter .dev-details{
  background-color: #191921;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 0.8rem;
}
#globalFooter .dev-details a{
  text-decoration: none;
  color: #d8d8d8;
  font-size: 1rem;
}
#globalFooter .dev-details a:hover{
  text-decoration: underline;
}
#globalFooter input[type="button"] {
  margin-left: 5rem;
  margin-top: 1.8rem;
  padding: 10px;
  background-color: #03C988;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

#globalFooter input[type="button"]:hover {
  background-color: #1C82AD;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
#globalFooter .company-details img{
  width:20px
}
#globalFooter .footer-details img{
  width:100px
}