#navbar .menu .home{
    font-size: 1.5rem;
    color:rgb(166, 211, 225);
    border: 1px solid gray;
    padding: 0.2rem;
    border-radius: 10px;
}
.hero-title{
    color: rgb(255, 255, 255);
    text-align: center;
}
.font-max{
    font-size: 3.8rem;
}
.hero-image{
    background-position:center; 
    background-size: cover;
    height: 670px;
    width: 100%;
}
.hero-bg{
    background-color: rgba(0,0,0,0.5);
    height: 670px;
    width: 100%;
    position: absolute; 
}
.hero-text{
    position: absolute;
    z-index: 1;
    left: 47.85%;
    height: 700px;
    margin-top: 25rem;
    transform: translate(-50%, -50%);
}